name: Cypress UI Regression

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 2 * * *"   # runs daily at 2 AM UTC

jobs:
  smoke-tests:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Cypress smoke suite
        run: npx cypress run --spec "cypress/e2e/smoke/**/*.cy.ts"

  regression-tests:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Cypress regression suite
        run: npx cypress run --spec "cypress/e2e/regression/**/*.cy.ts"
